.navbar-cart-icon {
    margin-right: 5px;
  }
  
  .navbar-link-active {
    color: #0077cc;
    font-weight: bold;
  }
  .navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }