.navbar-cart-icon {
    margin-right: 5px;
  }
  
  .navbar-link-active {
    color: #0077cc;
    font-weight: bold;
  }
  .navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
/* .navbar-container{
  width: 33%;
} */
.logo_style{
  width: 180px;
}

/* className="navbar-logo" */